<div class="page-title">
	<h1 ng-bind="blog.blogAuthor.blogname" ></h1>
	<span ng-hide="blog.onTheUsersPage()" ng-class="blog.isFavorite ? 'added' : ''" class="add-to-favorite" title="Add to favorites" ng-click="blog.addFavoriteClicked()">&#10084;</span>
	<span ng-hide="blog.onTheUsersPage()" ng-class="blog.isFriend ? 'added' : ''" class="add-to-friends" title="Add to friends" ng-click="blog.addFriendClicked()">&#128149;</span>
</div>
<div ng-Show="blog.onTheUsersPage()">
	<div ng-controller="NewArticleController as newArticle" new-article class="new-article"></div>
</div>
<articles articles="blog.getArticlesByUsername(blog.blogAuthor.username)" on-users-page="blog.onTheUsersPage()" is-up-voted-by-user="blog.isUpVotedByUser" is-down-voted-by-user="blog.isDownVotedByUser" sort-order="'-date'" up-vote="blog.upVote" down-vote="blog.downVote"/>