/* Angular ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/* Base styling */
body, html, div {
	margin: 0;
	padding: 0;
}

nav,
nav a {
	line-height: 50px;
	vertical-align: middle;
	font-weight: bold;
}

nav a {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	color: white;
	text-decoration: none;
}

nav .container, #content {
	margin-right: auto;
	margin-left: auto;
	width: 1160px;
}

@media (max-width : 1380px) {
	
}

@media (max-width : 1200px) {
	nav .container, #content {
		width: 960px;
	}
}

@media (max-width : 979px) {
	nav .container, #content {
		width: 720px;
	}
}

@media (max-width : 767px) {
	nav .container, #content {
		width: 90%;
	}
}

input[type="button"] {
	width: 90px;
	margin-top: 10px;
	border: none;
	background-color: #668cff;
	cursor: pointer;
	color: white;
	font-size: 15px;
	font-weight: bold;
}


input,	
textarea {
	border-radius: 5px;
}


/*
@media only screen and (max-width : 480px) {
	nav, .content {
		width: ;
	}
}

@media only screen and (max-width : 320px) {
	nav, .content {
		width: ;
	}
}
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

form input {
	display: block;
}

form {
	display: inline-block;
}

nav {
	background-color: #668cff;
}

/* All pages */
.page-title {
	margin: 25px 5px 10px 5px;
}

/* Login / Registration forms */
form.login-form input+input,
form.registration-form input+input {
	margin-top: 10px;
}


/* Blog */
.page-title h1,
.page-title span {
	display: inline-block;
}

.page-title span.add-to-favorite,
.page-title span.add-to-friends {
	float: right;
	height: 25px;
	width: 25px;
	line-height: 25px;
	margin-top: 7px;
	margin-right: 5px;
	background-color: #668cff;
	color: white;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

.page-title span.add-to-favorite.added,
.page-title span.add-to-friends.added {
	color: red;
}

#pop-up-message {
	position: fixed;
    right: 10px;
    bottom: 10px;
}

#pop-up-message .popup-message-container {
    padding: 20px;
    border: 3px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 0;
    background: white;
    clear: both;
    float: right;
}

#pop-up-message .popup-message-container.message {
	border-color: green;
}

#pop-up-message .popup-message-container.error {
	border-color: red;
}

/* New article */
.new-article {
	margin-bottom: 20px;
}

.new-article label,
.new-article input,
.new-article textarea {
	display: block;
	padding: 5px;
}

.new-article span,
.new-article input[type="button"] {
	display: inline-block;
}

.new-article span {
	float: right;
}

.new-article textarea {
	resize: none;
	height: 200px;
}

.new-article label {
	margin-top: 10px;
	padding: 9px 5px;
}

.new-article input,
.new-article textarea {
	border: 1px solid #668cff;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	border-radius: 5px;
	font-size: 15px;
}

.new-article input[type="text"],
.new-article textarea {
	width: 100%;
}

.new-article input {
	margin-top: 10px;
	padding: 10px 5px;
}

.new-article span.symbols-left {
	margin-top: 10px;
	line-height: 26px;
}

/* Articles */
.articles .article:not(.without-rating) {
	margin-left: 20px;
}

.articles .article-rating {
	float: left;
	width: 16px;
}

.articles .article-rating {
	background-color: #668cff;
	color: white;
	vertical-align: top;
	border-radius: 5px;
}

.articles .article-rating > div {
	vertical-align: middle;
	text-align: center;
}

.articles .article-rating > div.upvote,
.articles .article-rating > div.downvote {
	cursor: pointer;
}

.articles .article-rating.upvoted > div.upvote,
.articles .article-rating.downvoted > div.downvote {
	color: red;
}

.articles .article h3,
.articles .article span {
	display: inline-block;
}

.articles .article .title > span {
	float: right;
	padding-right: 5px;
}


.articles .article .title {
	color: white;
	background-color: #668cff;
}

.articles .article .title .edit-article-button {
	cursor: pointer;
	color: transparent;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.articles .article:hover .title .edit-article-button {
	color: white;
}

.articles .article {
	border: 1px solid #668cff;
	border-radius: 5px;
	margin-bottom: 15px;
}

.articles .article .title {
	padding: 10px 5px 10px 5px;
}

.articles .article .content {
	padding: 0 5px 10px 5px;
}

/* User list */
.user-list ul {
	padding: 0;
	margin: 0;
}

.user-list li {
	margin-top: 10px;
	list-style: none;
}

.user-list li h4{
	background-color: #668cff;
	border-radius: 5px;
	padding: 9px 5px;
}

.user-list li a,
.user-list li a:hover,
.user-list li a:active,
.user-list li a:visited {
	text-decoration: none;
	color: white;
}

/* Friends */
.friends {
	margin-top: -10px;
}

.friends label {
	padding: 9px 5px;
	margin-top: 10px;
	display: block;
}

.friends-list input {
	font-size: 15px;
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	padding: 10px 5px;
	border: 1px solid #668cff;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.friend-requests .buttons-container {
	display: inline;
	float: right;
}

.friend-requests input[type="button"] {
	color: #668cff;
	border: none;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
}

@media only screen and (min-width : 481px) {
	.friends-list.half-screen,
	.friend-requests {
		display: inline-block;
		width: 50%;
	}

	.friend-requests {
		float: right;
	}

	.friends-list ul,
	.friends-list .input-container,
	.friends-list label {
		margin-right: 5px;
	}

	.friend-requests ul,
	.friend-requests input,
	.friend-requests label {
		margin-left: 5px;
	}
}

/* Favorites */
.favorites-list label {
	padding: 9px 5px;
	margin-top: 10px;
	display: block;
}

.favorites-list input {
	font-size: 15px;
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	padding: 10px 5px;
	border: 1px solid #668cff;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
