<div class="new-article">
	<label for="newArticleTitle">Title:</label>
	<input type="text" id="newArticleTitle" ng-model="newArticle.newArticle.title">
	<label for="newArticleText">Article:</label>
	<textarea id="newArticleText" ng-model="newArticle.newArticle.article" maxlength="1500"></textarea>
	<input type="button" ng-click="newArticle.onSumbit()"  value="Post"/>
	<span class="symbols-left" ng-show="newArticle.newArticle.article.length > 0" ng-bind="1500 - newArticle.newArticle.article.length + ' left'"></span>
</div>